* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.window {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.window > button {
    z-index: 88;
    position: absolute;
}

.window > button.left {
    left: 0;
}
.window > button.right {
    right: 0;
}
.images {
    display: flex;
    transition: all 0.3s;
}

.images img {
    width: 100%;
}
